<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
    <script src='/javascripts/jquery.js'></script>
    <script src='/javascripts/bootstrap.js'></script>
</head>
<body  class="container">
<h1><%= title %></h1>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Application</th>
        <th>DR1</th>
        <th>DR2</th>
        <th>DR3</th>
        <th>DR4</th>
        <th>DR5</th>
        <th>DR6</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < version.length; i++) { %>
    <tr>
        <th><%= version[i].applicationName %></th>
        <td><%= version[i].DR1 %></td>
        <td><%= version[i].DR2 %></td>
        <td><%= version[i].DR3 %></td>
        <td><%= version[i].DR4 %></td>
        <td><%= version[i].DR5 %></td>
        <td><%= version[i].DR6 %></td>
    </tr>
    <% } %>
    </tbody>
</table>

<button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"> Rafraîchir</span>
</button>

<script>
    $('button').click(function(){
        $.ajax({url: "/data", success: function(result){
            for (i = 0; i < $('tbody tr').length ; i++){
                for (j = 0; j < $($($('tbody tr')[i]).children('td')).length; j++) {
                    $($($($('tbody tr')[i]).children('td'))[j]).text("AIE !");
                }
            }
        }});
    });
</script>

</body>
</html>