<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src='/javascripts/jquery.js'></script>
    <script src='/javascripts/bootstrap.js'></script>
    <script src='/javascripts/main.js'></script>
</head>
<body  class="container">
<h1><%= title %></h1>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Application</th>
        <th>DR1</th>
        <th>DR2</th>
        <th>DR3</th>
        <th>DR4</th>
        <th>DR5</th>
        <th>DR6</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < version.length; i++) { %>
    <tr>
        <th><%= version[i].applicationName %></th>
        <td><%= version[i].DR1 %></td>
        <td><%= version[i].DR2 %></td>
        <td><%= version[i].DR3 %></td>
        <td><%= version[i].DR4 %></td>
        <td><%= version[i].DR5 %></td>
        <td><%= version[i].DR6 %></td>
        <td></td>
    </tr>
    <% } %>
    <tr>
        <th>Date de déploiement</th>
        <td><input type="text" value="" size="15" disabled></td>
        <td><input type="text" value="" size="15" disabled></td>
        <td><input type="text" value="" size="15" disabled></td>
        <td><input type="text" value="" size="15" disabled></td>
        <td><input type="text" value="" size="15" disabled></td>
        <td><input type="text" value="" size="15" disabled></td>
        <td style="text-align: center">
            <button type="button" class="btn btn-default modifyBtn" aria-label="Left Align">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default saveBtn" aria-label="Left Align">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
    <tr>
        <th>Lot</th>
        <td><input type="text" value="" size="15" disabled></td>
        <td><input type="text" value="" size="15" disabled></td>
        <td><input type="text" value="" size="15" disabled></td>
        <td><input type="text" value="" size="15" disabled></td>
        <td><input type="text" value="" size="15" disabled></td>
        <td><input type="text" value="" size="15" disabled></td>
        <td style="text-align: center">
            <button type="button" class="btn btn-default modifyBtn" aria-label="Left Align">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default saveBtn" aria-label="Left Align">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<button type="button" class="btn btn-default" id="refreshBtn" aria-label="Left Align">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"> Rafraîchir</span>
</button>

</body>
</html>